* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.5;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rock Salt', cursive;
  font-size: 5.625rem;
  color: #454133;
  text-shadow: 1px 1px 1px #000; 
  position: absolute; 
  bottom: 55%;
  right: 30%;

}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  color: #454133;
  font-weight: normal;
  text-shadow: 1px 1px 1px #000;
}

h3 {
  color: #454133;
}

a {
  color: #454133;

}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
}
footer {
  background-color: #afac9f;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  bottom: 0;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;

}

nav {
  background-color: #afac9f;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: right;
  margin: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;

}
/*************************************CLASS***********************************/
.nav-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;

}



.intro {

  background-image: url(https://cdn.pixabay.com/photo/2016/02/19/10/09/vines-1209094_960_720.jpg);
  background-size:100% 100%;
  background-color: #d8d4cc;
  border-style: solid;
  border-width: 0;
  display: flex;
  padding-top: 55%;
  text-align: center;
  position: relative;
  line-height: 2;
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}

.box {
  flex: auto;
}
.intro-subtitle {
position: absolute; 
bottom: 43%;
left: 52%;
}

.about {
  background-color: #88856f;
  text-align: center;
  margin: 0;
  float: left;
  width: 100%;

}



.profilePic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.skills {
  background-color: #d8d4cc;
  padding: 3%;
}

.skill-row {
  text-align: left;
  width: 50%;
  line-height: 2;
  margin: 100px auto 0 auto;
  padding-bottom: 20px;
}

.wine-glasses {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.technology {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.copyright {
  position: fixed;
  right: 2px;
  bottom: 0;
  display: inline-block;
}

.wine-row-description {
  clear: left;
}

.technology-row-description {
  clear: right;
}

.web-dev-title {
  text-align: right;
}

.work {
 
  background-color: #d8d4cc; 
  padding: 3%;
  position: relative;
  text-align: center;
  width: 100%;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5%;
  position: relative;
}

.card {
  border-style: dashed;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
  margin: 1%;
  margin-bottom: 2%;
  max-width: 300px;
  min-width: 300px;
  padding: 2%;
  width: 49%;

}

.card:hover {
  box-shadow: 0 5px 15px rgb(14, 13, 13);
}

.card-header {
  background-color: #d8d4cc;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 150%;
  margin-bottom: 2%;
  margin-top: -70px;
  position: relative;
  z-index: 1; 
}

.work-preview {
  border-radius: 10px;
}

/* contact section */
.contact-me {
  background-color: #88856f;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}


/* contact button */

.button-container {
  padding: 3%;
}

.BUTTON_EVA {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 500;
   padding: 23px;
   background-color: #a3a185;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #afac9f 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_EVA:hover {
   background: #737355;
   border: solid #afac9f 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.footer-link {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

/* media tags */
/*smartphone*/
@media screen and (max-width: 767px){
  body {
    font-size: 32px;
  }

  .skills {
    padding: 10% 3%;
  }

  .skill-row {
    width: 100%;
  }

  .card {
    flex: 1;
    width: 51%;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
  body {
    font-size: 24px;
  }
  .skill-row {
    width: 100%;
  }

  .skills {
    padding: 10% 3%;
  }

  .card {
    flex: 1;
    width: 51%;
  }
}